<!doctype html>
<html>
    <head>
        <title>The Secret Service</title>
        <meta name="keywords" content="password file sharing">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/ss-ico.svg" type="image/svg+xml">
        <link rel="stylesheet" href="\pico.css">
        <link rel="stylesheet" href="\theme.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <article>
            <header id="filename"></header>
                <a id="downloadlink" aria-busy="true" download="{{.Secret}}" disabled>Download</a>
            <footer id="filesize"></footer>
        </article>
        <script>
            fetch(`${window.location.origin}/blob/${window.location.pathname.split("/")[2]}/${window.location.pathname.split("/")[3]}`)
            .then(response => response.blob())
            .then(blob => {
                document.getElementById("filename").innerText = `The file is a ${blob.type} of ${blob.size} bytes.`;
                document.getElementById("downloadlink").href = URL.createObjectURL(blob);
                document.getElementById("downloadlink").removeAttribute("disabled");
                document.getElementById("downloadlink").removeAttribute("aria-busy");
            })
            
        </script>
    </body>
</html>