<!doctype html>
<html>
    <head>
        <title>The Secret Service</title>
        <meta name="keywords" content="password file sharing">
        <link rel="icon" href="/ss-ico.svg" type="image/svg+xml">
        <link rel="stylesheet" href="\pico.min.css">
        <link rel="stylesheet" href="\index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <article>{{.Secret}}</article>
    </body>
</html>