:root {
  --primary: black;
  --primary-hover: gray;
  --primary-focus: darkgray;
}

body {
  font-family: 'Montserrat', sans-serif;
  position:relative;
  max-width: 1200px;
  margin:auto;
}

nav {
  display: flex;
  margin:auto;
}

nav div {
  position:relative;
  min-width: 33%;
}

nav h1 {
  position: absolute;
  min-width: 33%;
}

textarea {
  resize: vertical;
}

foot {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 3rem;
}

links {
  display: flex;
  flex-direction: column-reverse;
}

.icon {
  min-width:100%;
}

.icon:not([data-theme="light"]){
  filter: invert(0.9);
}

.control {
  font-size: x-large;
  margin: 0px;
  padding: 1rem;
  width: 100%;
  background: transparent;
  border: transparent;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
    width:max-content;
  }
  nav h1 {
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }
}