:root {
  --font-family: 'Montserrat', sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 16px;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
}

body {
  position:relative;
  max-width: 1200px;
  margin:auto;
}

nav {
  display: flex;
  margin:auto;
}

nav div {
  position:relative;
  min-width: 33%;
}

nav h1 {
  position: absolute;
  min-width: 33%;
}

textarea {
  resize: vertical;
}

foot {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 3rem;
}

links {
  display: flex;
  flex-direction: column-reverse;
}

linkitem {
  display: flex;
  flex-direction: row;
  margin-top:1rem;
}

linkitem span {
  overflow:hidden;
  white-space:nowrap;
  margin-right:1rem;
  margin-top:auto;
  margin-bottom:auto;
}

linkitem button {
  width:fit-content;
  margin-left:auto;
  margin-bottom:0;
}

.icon {
  min-width:1.5rem;
}

.icon:not([data-theme="light"]){
  filter: invert(0.9);
}

.control {
  font-size: x-large;
  margin: 0px;
  padding: 1rem;
  width: 100%;
  background: transparent;
  border: transparent;
}

#controls {
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
    width:max-content;
  }
  nav h1 {
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }
  #controls {
    flex-direction: row;
  }
  #form {
    flex-direction: column;
  }
}